# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.ipynb
*.env
env/
venv/
ENV/

# Directories
.metadata
.vscode
.idea/
*.swp
*.swo
*.swn
*.log

# Databases
*.sqlite

# Distribution
dist/
build/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot
*.po

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/
"""